// COLORS
$primary-color: #7e9596;
$secondary-color: #b0cad4;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #737373;

$dark-blue-text: #313638; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
